spring:
  application:
    name: hotelManagement
  datasource:
    url: jdbc:h2:mem:hotel_management;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: validate
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
    default-schema: public

server:
  port: 8092
  servlet:
    context-path: /property-view

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html